<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>UpGrade</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>../Project1Workspace/UpGrade/src/main/webapp/Attachments</param-value>
  </context-param>
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>*.change</url-pattern>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSONMasterServlet</display-name>
    <servlet-name>JSONMasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.JSONMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONMasterServlet</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsController</display-name>
    <servlet-name>DetailsController</servlet-name>
    <servlet-class>com.revature.controller.DetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsController</servlet-name>
    <url-pattern>/DetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleViewController</display-name>
    <servlet-name>SingleViewController</servlet-name>
    <servlet-class>com.revature.controller.SingleViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleViewController</servlet-name>
    <url-pattern>/SingleViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DsDhController</display-name>
    <servlet-name>DsDhController</servlet-name>
    <servlet-class>com.revature.controller.DsDhController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DsDhController</servlet-name>
    <url-pattern>/DsDhController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpGradesController</display-name>
    <servlet-name>EmpGradesController</servlet-name>
    <servlet-class>com.revature.controller.EmpGradesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpGradesController</servlet-name>
    <url-pattern>/EmpGradesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AwardedController</display-name>
    <servlet-name>AwardedController</servlet-name>
    <servlet-class>com.revature.controller.AwardedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AwardedController</servlet-name>
    <url-pattern>/AwardedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupGradesController</display-name>
    <servlet-name>SupGradesController</servlet-name>
    <servlet-class>com.revature.controller.SupGradesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupGradesController</servlet-name>
    <url-pattern>/SupGradesController</url-pattern>
  </servlet-mapping>
</web-app>